:root {
    --primary-color: rgba(223, 0, 0, 1);
    --background-color:  rgba(248, 247, 198, 1);
    --main-hex-color: rgb(243, 226, 71);
    --shadow-color: rgba(79, 80, 75, 0.4);
    --primary-border-color: rgba(34, 33, 30, 0.486);
    --footer-available-height: 75px;
    --header-available-height: 92px;
}

 body {
     background-color: var(--background-color);
     color: #fff;
     align-items: center;
     font-family: Arial, Helvetica, sans-serif;
     margin: 0px;
 }

.main-top {
    position: relative;
    padding: 10px;
    width: inherit;
    height: 82px;
    /* border: 1px solid blue; */
}

.main-logo {
    position: absolute;
    left: 10px;
    height: inherit;
    /* border: 1px solid rgba(75, 187, 47, 0.904); */
}

/* The scoreboard */
.scoreboard {
    position: absolute;
    right: 10px;
    border: 1px solid var(--primary-border-color);
}

.score-container {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 2px;
    /* border: 1px solid rgb(218, 51, 9); */
}

.score-field {
    /* border: 1px solid rgb(54, 5, 161); */
    color: rgb(50, 49, 51);
    text-align: center;
    font-size: medium;
    width: 100px;
    height: 50%;
    margin: 2px;
    padding: 5px;
}

.score-value {
    /* border: 1px solid rgb(54, 5, 161); */
    text-align: center;
    font-size: medium;
    width: 100px;
    height: 50%;
    padding: 5px;
}

.main-showcase {
    border: 1px solid var(--primary-border-color);
    align-items: center;
}

.gameboard {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: calc(100% - var(--footer-available-height) - var(--header-available-height));
    background-color: var(--main-hex-color);
    border: 1px solid var(--primary-border-color);

}

.main-bot {
    border: 1px solid  rgba(136, 66, 216, 0.5);
    position: absolute;
}

.btn-container {
    border: 1px solid  var(--primary-border-color);
    position: absolute;
    width: max-content;
    background-color: rgb(53, 49, 45);;
}

.btn {
    padding: 1rem;
    height: auto;
    cursor: pointer;
}

.hold {
    border: solid #ccc 4px;
}

.hovered {
    background: #f4f4f4;
    border-style: dashed;
}

.invisible {
    display: none;
}
